<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <%= link_to root_path, class: 'logo' do %>
      <div class="circle">
        <br />
        You know you
        <br />
        you need to
        <br />
        eat healthy
      </div>  
      <% end %>
    </div>
    <div class="col-xs-4 slogan">
      Splurting out our unsolicited advice about eating healthy since 2010
    </div> 
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', new_quote_path %>
      <%= link_to 'About', '#' %>
    </div>  
  </header>
  <hr />
  <br class="clear" />

<div class="container">
<%= yield %>
</div>

<div class="footer">
  <div class="container">
    <div class="col-xs-6">
      <%= link_to "Step away from that cookie", root_path, class: 'next-quote' %>
    </div>
    <div class="col-xs-6 footer-blurb" >
      Pam's roadmap to health <a "href=http://pamwillenz.com/"></a><br />
      Want to get healthy and live the lifestyle you want - <a href="http://pamwillenz.com/">Come sign up for a free consultation</a>
    </div>    
  </div>
</div>    
</body>
</html>
